<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/}">
        Back to list Product
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Name Produt</label>
        <label th:text="${product.getNameProduct()}"></label>
    </div>
    <div class="cusdetail">
        <label>Price Product</label>
        <label th:text="${product.getPriceProduct()}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>