<div class="container justify-content-center align-items-center">

  <!--table-->
  <div class="justify-content-center align-items-center frame-shadow"
       style="padding-left: 20px"
       *ngIf="listProduct.length != 0; else elseDiv">
    <button routerLink="add" class="btn btn-success">
      <i class="far fa-plus-square"></i>
    </button>
    <h1 style="color: teal" class="text-uppercase text-center">list product</h1>

    <!--  message-->
    <div *ngIf="message" id="alertFade"
         class="alert alert-success alert-dismissible font-weight-bold">
      <button class="btn btn-close" (click)="closeAlert()"></button>
      <span>{{message}}</span>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>No</th>
        <th>ID Product</th>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Date</th>
        <th>Status</th>
        <th>Origin</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of listProduct, let i = index">
        <td>{{i + 1}}</td>
        <td>{{product['id']}}</td>
        <td>{{product.code}}</td>
        <td>{{product.name | titlecase}}</td>
        <td>{{product.price | currency: 'VND' }}</td>
        <td>{{product.date}}</td>
        <td>
          <span *ngIf="product.quantity == 0" [ngClass]="'sold-out'">Sold out</span>
          <span *ngIf="product.quantity > 0 && product.quantity < 10" [ngClass]="'few-left'">Few left</span>
          <span *ngIf="product.quantity >= 10" [ngClass]="'full-stock'">Full of stock</span>
        </td>
        <!--        origin now is a JSON object, so have to ['country'] to take it's value-->
        <td>{{product.origin['country']}}</td>
        <td>
          <a [routerLink]="['view', product['id']]">
            <button class="btn btn-primary">
              <i class="far fa-eye"></i>
            </button>
          </a>
          <a [routerLink]="['edit', product['id']]">
            <button class="btn btn-warning">
              <i class="fas fa-edit text-dark"></i>
            </button>
          </a>
          <a [routerLink]="['delete', product['id']]">
            <button class="btn btn-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--elseDiv-->
  <ng-template #elseDiv>
    <h3 class="text-center" style="color: red">No Product. Add some more!</h3>
    <button routerLink="add" class="btn btn-success">
      <i class="far fa-plus-square"></i>
    </button>
  </ng-template>
</div>
