<div *ngIf="editProduct"
     style="padding-left: 30px"
     class="frame-shadow container justify-content-center col-6">

  <h1 style="color: teal" class="text-uppercase mb-5">edit product</h1>

  <form [formGroup]="editForm" (ngSubmit)="submitEditForm(editForm)">
    <table class="table table-hover">
      <tbody>
      <tr>
        <th>
          <label for="code">Code</label>
        </th>
        <th>
          <p id="code">{{editProduct.code}}</p>
        </th>
      </tr>
      <tr>
        <th>
          <label for="name">Name</label>
        </th>
        <td>
          <input type="text" class="form-control" formControlName="name" id="name">
          <p *ngIf="editForm.controls.name.touched" class="msgError">
            <span *ngIf="editForm.controls.name.errors?.required">Name is required</span>
          </p>
        </td>
      </tr>
      <tr>
        <th>
          <label for="price">Price</label>
        </th>
        <td>
          <input type="number" class="form-control" formControlName="price" id="price">
          <p *ngIf="editForm.controls.price.dirty" class="msgError">
            <span *ngIf="editForm.controls.price.errors?.required">Price is required</span>
            <span *ngIf="editForm.controls.price.errors?.min">Price must be greater than 10000 đ!</span>
            <span *ngIf="editForm.controls.price.errors?.max">Price should be under 50000000 đ</span>
          </p>
        </td>
      </tr>
      <tr>
        <th>
          <label for="date">Date</label>
        </th>
        <td>
          <input type="date" class="form-control" formControlName="date" id="date" >
          <p *ngIf="editForm.controls.date.dirty" class="msgError">
            <span *ngIf="editForm.controls.date.errors?.required">Please pick a Date!</span>
            <span *ngIf="editForm.controls.date.errors?.dateValid">You pick a Future day!</span>
          </p>
        </td>
      </tr>
      <tr>
        <th>
          <label for="qty">Quantity</label>
        </th>
        <td>
          <input type="number" class="form-control" formControlName="quantity" id="qty">
          <p *ngIf="editForm.controls.quantity.touched" class="msgError">
            <span *ngIf="editForm.controls.quantity.errors?.required">Quantity is required</span>
            <span *ngIf="editForm.controls.quantity.errors?.pattern">Quantity must be a number!</span>
          </p>
        </td>
      </tr>
      <tr>
        <th>
          <label for="origin">Origin</label>
        </th>
        <td>
          <select class="form-control" formControlName="origin" id="origin">
            <option value="" disabled>Select a Origin</option>
            <option *ngFor="let ori of listOrigin"
                    [selected]="ori['country'] == editProduct.origin['country']">
              {{ori['country']}}
            </option>
          </select>
          <p *ngIf="editForm.controls.origin.touched" class="msgError">
            <span *ngIf="editForm.controls.origin.errors?.required">Pick a Origin!</span>
          </p>
        </td>
      </tr>
      <tr class="text-center">
        <td>
          <button class="btn btnBack" (click)="backToList()" type="button">Back</button>
        </td>
        <td>
          <button class="btn btn-warning mb-2" type="submit" [disabled]="editForm.invalid">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
