<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<h4>
    <a href="/">Back to list Customer</a>
</h4>
<form th:action="@{/customer/update}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td>Edit Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Edit Age</td>
            <td><input type="text" th:field="*{age}"></td>
        </tr>
        <tr>
            <td>Edit Address</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <td><input type="submit" value="edit"></td>
    </table>
</form>
</body>
</html>